<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width" />
  <base href="/" />
  <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="/style.css" />
  <script type="text/javascript" src="/webjars/jquery/2.2.4/jquery.min.js"></script>
  <script type="text/javascript" src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
  <ul class="nav nav-pills" role="tablist">
    {{#menus}}<li class="{{#active}}active{{/active}}"><a href="{{path}}">{{name}}</a></li>{{/menus}}
  </ul>
</div>
{{{layout.body}}}
</body>
</html>